<%- include ('./partials/_header.ejs')  %>
<div class="container">
    <form action="/users/story/edit/<%= story._id  %>?_method=PUT" method="post">
        <h3 class="center">Edit <%= story.title %></h3>
        <%- include ('./partials/_form')  %> 
    </form>
</div>
<%- include ('./partials/_footer.ejs')  %>  